body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    height: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-color: #5B8168;
}

.date {
    margin-left: 210px;
}

.text {
    margin-left: 16px;
}

p {
    font-size: 20px;
    color: #ffffff;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    line-height: 12px;
}

nav {
    position: absolute;
    z-index: 10000;
    position: fixed;
    width: 100%;
    display: flex;
    height: 56px;
    font-size: 20px;
    color: #ffffff;
}

.back {
    padding-left: 16px;
}

.s {
    position: absolute;
    right: 16px;
}

.box {
    background-image: url(../img/background_mood.png);
    background-size: 100%;
    height: 725px;
    padding-top: 75px;
}

.img {
    margin-left: 25px;
    margin-top: 25px;
    background-color: transparent;
}

.w {
    background-image: url(../img/background_w.png);
    background-size: 100%;
    width: 100%;
    height: 316px;
    position: absolute;
    z-index: 10000;
    position: fixed;
    text-align: center;
    line-height: 300px;
    bottom: -120px;
}

.treeuncle {
    margin-top: 6%;
    margin-left: 16px;
    white-space: nowrap;
    /*不換行*/
    overflow-y: auto;
    /*可滑動*/
}

.flex{
    flex-direction:column;
    height: 101px;
}

#Box1 {
    width: 100%;
    height: 350px;
    padding-top: 230px;
    /* border:1px #ccc dashed; */
    text-align: center;
    transform: scale(4.5);
}