#compass {
    width: 307.42px;
    height: 292px;
    background-image: url("../img/compass_1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    
}
#values {
    font-size: 24px;
    margin: auto;
    text-align: center;
    color: #00000000;
}