body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 390px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

h1{
    font-size: 100px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

h2 {
    padding-top: 35px;
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    color: rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
}

nav {
    position: absolute;
    z-index: 10000;
    position: fixed;
    width: 390px;
    display: flex;
    background-image: url(../img/nav.png);
    height: 100px;
    font-size: 20px;
    color: #ffffff;
}

.back {
    padding-top: 45px;
    padding-left: 16px;
}

.background_Matte {
    background-image: url(../img/guide_ear_Matte.png);
    background-size: 100% 100%;
    width: 390p;
    height: 844px;
}

.background {
    background-image: url(../img/guide_ear.png);
    background-size: 100% 100%;
    width: 390p;
    height: 844px;
}

   
