body {
    background-color: #548B6C;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 390px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

nav {
    width: 390px;
    display: flex;
    height: 56px;
    background-image: url(../img/nav.png);
    position: absolute;
    position: fixed;
    z-index: 10000;
    margin-top: -56px;
}

.weather {
    display: flex;
    padding-left: 16px;
    width: 78px;
    height: 56px;
    line-height: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.weathertext {
    margin-left: 4px;
    font-size: 18px;
    line-height: 50px;
}

.weatherC {
    margin-left: 0;
    font-size: 15px;
    line-height: 50px;
}

.logo {
    margin-left: 42px;
}

a {
    text-decoration: none;
}

#menu-switcher {
    display: none;
}

.burger {
    position: absolute;
    display: block;
    right: 16px;
}

.menu {
    background-image: url(../img/burger.png);
    height: 900px;
    position: absolute;
    right: 0;
    margin-top: 0;
    z-index: 100;
    transform: translateX(1000%);
    transition: 0.6s;
    list-style-type: none;
    padding-left: 16px;
    padding-right: 16px;
}

li {
    padding-bottom: 10px;
}

#menu-switcher:checked~.menu {
    transform: translateX(0%);
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.icon{
    margin-bottom: 3px;
}
.box2 {
    position: absolute;
    height: 250px;
    color: #c3c3c3;
    font-weight: normal;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;
}

/* 旋轉木馬 */
.allseason{
    width: 390px;
    height: 250px;
    height: 100%;
}
.season{
    margin-bottom: -50px;
    width: 390px;

    width: 100%;

}
.role {
    margin-top: -50px;
    margin-bottom: -50px;
    width: 390px;
    height: 180px;
    width: 100%;
    height: 100%;
}
                     
.roleimg {
    width: 390px;
    height: 180px;
}
.text1h3{
    position: absolute;
    top: 0;
}
.text1{
    position: absolute;
    bottom: 0;
}

/* 旋轉木馬 */ 
.box4 {
    position: absolute;
 /*   background-image: url(../img/4.png);
    background-size: 100% 100%;
    width: 390px;
    height: 180px;
    display: inline-block;*/
    text-align: center;
    padding-top: 50px;
}

.flex {
    display: flex;
    width: 390px;
    height: 20px;
    text-align: center;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    padding-top: 8px;
}

.box5 {
    background-image: url(../img/5.gif);
    width: 390px;
    background-size: 100% 100%;
    height: 180px;
    display: inline-block;
    padding-top: 135px;
    padding-left: 314px;
}

.box6 {
    background-image: url(../img/index_box6.png);
    background-size: 100% 100%;
    width: 390px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding-top: 18px;
}

.box7 {
    background-image: url(../img/7.png);
    width: 390px;
    background-size: 100% 100%;
    height: 180px;
    display: inline-block;
    padding-left: 16px;
    padding-top: 125px;
}

.box8 {
    background-image: url(../img/8.png);
    width: 390px;
    background-size: 100% 100%;
    display: inline-block;
    height: 180px;
    text-align: center;
    padding-top: 48px;
}

.box8_text {
    font-size: 15px;
    font-weight: normal;
}

.box8h1 {
    margin-top: -12px;
    line-height: 60px;
}