/* .slider {
    position: relative;
  }
  
  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .active {
    display: block;
  } 輪播*/
  /* #box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
  }拖曳 */
 
  /* #container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  #circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  #number {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   拖曳圓(圓會動)*/