/* .slider {
    position: relative;
  }
  
  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .active {
    display: block;
  } 輪播*/
  /* #box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
  }拖曳 */
